body {
    margin: 0;
    padding: 0;
    background: #FFF url(../images/img_02.gif) repeat-x left top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    /*
            color: #a50118;
    */
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.3em;
}

p, ul, ol {
    margin-top: 0;
    line-height: 180%;
}

ul, ol {
}

a {
    text-decoration: none;
    color: #a50118;
}

a:hover {
    text-decoration: underline;
}

img.border {
    border: 6px solid #E1F1F6;
}

img.alignleft {
    float: left;
    margin-right: 25px;
}

img.alignright {
    float: right;
}

img.aligncenter {
    margin: 0px auto;
}

#wrapper {
    width: 1000px;
    margin: 0 auto 0 auto;
    padding: 0;
    background: url(../images/img07.gif) no-repeat center top;
}

/* Header */

#header {
    width: 1000px;
    height: 120px;
    margin: 0 auto;

}

/* Logo */

#logo {
    width: 100%;
    float: left;
    height: 15px;
    margin: 0;
    padding: 0px;
    color: #FFFFFF;
}

#logo h1, #logo p {
    margin: 0;
    padding: 0;
}

#logo h1 {
    width: 70%;
    float: left;
    padding-left: 30px;
    letter-spacing: -1px;
    text-shadow: #000 -1px 1px 2px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 5em;
}

#logo h2 {
    width: 25%;
    float: right;
    padding-right: 10px;
    font-size: 1.6em;
    text-shadow: #000 -1px 1px 2px;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: right;
}

#logo p {
    margin: 0;
    padding: 30px 0 0 34px;
    text-shadow: #000 -1px 1px 2px;
    font: normal 18px Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}

#logo a {
    border: none;
    background: none;
    text-decoration: none;
    color: #FFFFFF;
}

#creed {
    float: right;
    width: 390px;
    height: 40px;
 
    padding: 0;

}

#creed h2 {
    clcear: both;

    margin: 0;
    padding: 60px 0 0 30px;
    text-shadow: #000 -1px 1px 2px;
    font: normal 18px Georgia, "Times New Roman", Times, serif;
    color: #FFFFFF;
}

/* Menu */

#menu {
    width: 1000px;
    height: 50px;
    margin: 0 0 auto;
    padding: 0;
    float: right;
}

@-webkit-keyframes bugfix { from { padding: 0; } to { padding: 0; } } /* needed for checkbox hack */ 

#menu input.trigger:checked ~ ul, 
#menu input.trigger:checked ~ ul li ul {
    /* older flexbox */ 
    display: -webkit-box; 
    display: -moz-box; 
    display: box; 
    -webkit-box-orient: horizontal; 
    -moz-box-orient: horizontal; 
    box-orient: horizontal; 
    /* newer flexbox */ 
    display: flex; flex-direction: row;
}

#menu input.trigger { 
    position: absolute; 
    top: -9999px; 
    left: -9999px;
} 

#menu label {
    display: none;
} 

#menu ul {
    /* older flexbox */
    display: -ms-flexbox; 
    flex-direction: -ms-row; 
    display: -webkit-box; 
    display: -moz-box; 
    display: box;
    -webkit-box-orient: horizontal; 
    -moz-box-orient: horizontal; 
    box-orient: horizontal; 
    /* newer flexbox */ 
    display: flex; 
    flex-direction: row; 
    margin: 0;
    padding: 0px 0px 0px 4px;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
}

#menu a {
    display: block;
    margin-right: 1px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;

    text-shadow: #000 -1px 1px 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #FFFF33;
    border: none;
}

#menu .current_page_item a {
    text-decoration: underline;
}

#menu a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

/* Page */

#page {
/*
    width: 1000px;
*/    margin: 80px auto 0 auto;
    padding: 0;
}

#page-bgtop {
    margin: 180px auto;
    clear: both;
}

#page-bgbtm {
    margin: 0px;

}

/* Content */

#content {
    float: left;
    width: 360px;
    padding: 10px 0px 0px 0px;
}

.post {
    padding-top: 10px;
    padding-bottom: 0px;
}

.post .title {
    letter-spacing: -1px;
}

.post .title a {
    color: #a50118;
    border: none;
}

.post .meta {
    padding-bottom: 5px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: italic;
}

.post .meta a {
}

.post .entry {
    text-align: justify;
    margin-bottom: 25px;
    padding: 10px 0px 0px 0px;
}

.links {
    display: block;
    width: 96px;
    padding: 2px 0px 2px 0px;
    background: #a50118;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    color: #000;
}

/* Sidebar */

#sidebar {
    float: right;
    width: 540px;
    padding: 0px 20px 0px 0px;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    margin: 0;
    padding: 0;
}

#sidebar li ul {
    margin: 0px 15px;
    padding-bottom: 30px;
}

#sidebar li li {
    padding-left: 15px;
    line-height: 35px;
    background: url(../images/img01.gif) no-repeat left 14px;
}

#sidebar li li span {
    display: block;
    margin-top: -20px;
    padding: 0;
    font-size: 11px;
    font-style: italic;
}

#sidebar h2 {
    height: 30px;
    padding: 12px 0 0 15px;
    letter-spacing: -1px;
    font-size: 24px;
    color: #000;
}

#sidebar p {
    margin: 0 0px;
    padding: 0px 20px 20px 20px;
    text-align: justify;
}

#sidebar a {
    border: none;
    color: #000;
    color: #a50118;
    font-size: 1.1em;
}

#sidebar a:hover {
    text-decoration: underline;
    color: #a50118;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
    padding: 20px;
}

#calendar table {
    width: 100%;
}

#calendar tbody td {
    text-align: center;
}

#calendar #next {
    text-align: right;
}

/* Footer */

#footer {
    width: 1000px;
    height: 55px;
    margin: 0px auto 0px auto;
    font-family: Arial, Helvetica, sans-serif;
}

#footer p {
    margin: 0;
    padding-top: 0px;
    line-height: normal;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}

#footer h3 {
    margin: 0;
    padding-top: 0px;
    line-height: normal;
    font-size: 16px;
    text-align: center;
}

#footer a {
    color: #000;
}

#residential {
    width: 480px;
    float: left;
}

#commercial {
    width: 480px;
    float: right;
}

.services li {
    list-style: none;
}

.services li h3 {
    display: inline-block;
    margin-left: 0px;
    background: url(../images/img01.gif) no-repeat left 8px;
    padding-left: 10px;
    color: #a50118;

}

.serviceinfo ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.serviceinfo li {
    list-style: square;
    margin: 0;
    padding: 0;
}

.serviceinfo li ul {
    margin: 0px 15px;
}

.serviceinfo ul li {
    padding-left: 15px;
    list-style: none;
}

.serviceinfo li li span {
    display: block;
    margin-top: -20px;
    padding: 0;
    font-size: 11px;
    font-style: italic;
}

.serviceinfo h2 {
    height: 38px;
    margin-bottom: 20px;
    padding: 12px 0 0 15px;
    letter-spacing: -1px;
    font-size: 24px;
    color: #000;
}

.services p {
    margin: 0 0px;
    padding: 0px 20px 20px 20px;
    text-align: justify;
}

.services a {
    border: none;
    color: #000;
}

.services a:hover {
    text-decoration: underline;
    color: #a50118;
}

#clickit {
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}

#clickit h3 {
    color: #000;
}

h3[onclick]:hover {
    cursor: pointer;
    text-decoration: underline;
}

.testimonials {
    margin: 20px 20px 20px 20px;
}

dt {
    margin: 10px 0 20px 0;
    padding: 0 0 10px 20px;
    background: url(../images/Q.gif) no-repeat left 0px;
}

dd {
    margin: 0 20px 20px 20px;
    padding: 0 20px 10px 20px;
    background: url(../images/A.gif) no-repeat left 0px;
}

dt[onclick]:hover {
    cursor: pointer;
}

sup {
    color: #a50118;
}

.coupon {
    margin-top: 20px;
    width: 480px;
    border-style: dashed;
    border-width: thick;
    border-color: #a50118;
    border-spacing: 8px;
}

.couponinfo {
    margin: 15px;
}
.couponvalue {
    padding: 8px;
    font-size: 30px;
    color: #FFF;
    background-color: #a50118;
}

.fineprint {
    font-size: 12px;
}


.tarea {
    width: 56em;
}